html {
 overflow: hidden;
 font-size: 10px;


}

body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	 font-family: "Source Sans Pro", sans-serif;
}

section {
	
	width:100%;
	height: 100vh;
	color: white;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
	
}

h1 {
	font-size: 4.3em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -0.035em;
	line-height: 1em;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

@keyframes change {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

nav{
	height: 10rem;
	width: 100%;
	top: 45%;
	position: relative;
	padding-left: 30%;
}

nav ul{
	list-style: none;
	transform: translate(.50%, .50%);
	position: relative;


}

ul li{
 float: left;
 vertical-align: baseline;
 text-align: center;
 font-size: 100%;
 position: relative;
 width: 15em;
 transform: translate(-50%, -50%);
}

ul li:before {
	content: '';
	width: 100%;
	height: 100%;
}
.nav-div{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 42%;
	width:100%
}

.nav-div p{
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
	position: relative;


}


i.fab {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}
i.fab:hover{
	transition: .3s
}
